.button{
    width: 100%;
    padding: 1rem;
    border-radius: 3rem;
    outline: none;
    border: none;
    background: var(--Orange);
    color: var(--White);
    letter-spacing: 2px;
    font-weight: 400;
    cursor: pointer;
}

.hey{
    color: violet;
}

.button:hover{
    background: var(--White);
    color: var(--Orange);
}